/* Word Game Stylesheet */

/* element */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    background: url(../images/jungle.jpg) no-repeat;
    font-size: large;
}

input {
    width: 30%;
}

h1,
h2,
h3,
#message {
    text-align: center;
}

label {
    font-weight: bold;
}

/* class */
.bold {
    font-weight: bold;
}

/* id */
#container {
    width: 66%;
    margin: 5% auto;
    padding: 2%;
    background: wheat;
    border: 3px inset lightgreen;
}

#game-box {
    margin: auto;
    padding: 5%;
    width: 66%;
}

#message {
    margin-top: 2%;
    height: 1.2em;
    color: red;
}

@media screen and (max-width: 980px) {

    body {
        font-size: medium;
    }

}

@media screen and (max-width: 768px) {

    #container {
        width: 90%;
        margin: 2% auto;
        padding: 1%;
    }
}

@media screen and (max-width: 640px) {
    body {
        font-size: small;
    }

    #container {
        width: 100%;
        padding: 1%;
    }

}