/* Word Game Stylesheet */

/* element */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    background: url(../images/jungle.jpg) no-repeat;
}

input {
    width: 30%;
}

h1,
h2,
h3 {
    text-align: center;
}

label {
    font-weight: bold;
}

p {
    font-size: x-large;
}

/* class */
.bold {
    font-weight: bold;
}

/* id */
#blanks {
    font-size: xx-large;
    font-weight: bold;
}

#container {
    width: 66%;
    margin: 5% auto;
    padding: 2%;
    background: wheat;
}

#message {
    margin-top: 5%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

@media screen and (max-width: 640px) {
    body {
        font-size: 0.8em;
    }

    p {
        font-size: medium;
    }

    #blanks {
        font-size: medium;
    }

    #container {
        width: 90%;
        margin: 2% auto;
        padding: 1%;
    }

}