/* Word Game Stylesheet */

/* elements */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    /* overflow prevents the layout from shifting to accomodate for the scrollbar */
}

form {
    width: 70%;
}

entry {
    width: 30%;
    border: none;

}

h1 {
    text-align: center;
}

label {
    font-weight: bold;
}

/* classes */
.bold {
    font-weight: bold;
}

/* id's */
#content {
    width: 75%;
    margin: auto;
}

#message {
    color: red;
    border: 1px solid black;
}